/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-family);
  z-index: -1;
  opacity: 1;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.theme_light.page {
  --bg-image: url(../images/cover-image-light.png);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  block-size: 100vh;
}

.title-decor {
  justify-self: center;
  color: var(--title-color);
  font-family: inherit;
  font-weight: 700;
  font-size: var(--font-size-l);
  line-height: 0.825em;
  text-shadow: 4px 4px 0 var(--title-shadow-color);
  block-size: fit-content;
  inline-size: calc(100vw - 20px);
}

.header__title {
  justify-self: flex-start;
  max-inline-size: fit-content;
}

.header__recording-icon {
  display: var(--rec-display);
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
  font-family: inherit;
  font-weight: 400;
  font-size: var(--font-size-m);
  line-height: 1.3889em;
}

.header__recording-icon::after {
  content: '\A';
  position: absolute;
  top: 8px;
  right: -19px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background: var(--accent-color);
}

.decorated-zone::after {
  content: '\A';
  position: absolute;
  top: var(--offset);
  right: var(--offset);
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--content-title-main-color);
  border-right: 1px solid var(--content-title-main-color);
}

.decorated-zone::before {
  content: '\A';
  position: absolute;
  bottom: var(--offset);
  left: var(--offset);
  display: inline-block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--content-title-main-color);
  border-left: 1px solid var(--content-title-main-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--offset);
  list-style: none;
}

.header__theme-menu-button {
  box-sizing: border-box;
  border: 1px solid transparent;
  vertical-align: middle;
  color: var(--accent-color);
  font-family: inherit;
  font-weight: 400;
  font-size: var(--font-size-m);
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__theme-menu {
  justify-self: flex-end;
  padding: 75px var(--offset) 0 0;
}

.text-decor {
  justify-self: center;
  color: var(--bg-color);
  font-family: inherit;
  font-weight: 700;
  font-size: var(--font-size-m);
  background-color: var(--accent-color);
  block-size: fit-content;
  inline-size: 100%;
}

.header__description {
  inline-size: calc(100% - 20px);
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0 var(--offset);
}

.content__subtitle {
  font-weight: 400;
}

.content__text {
  color: var(--text-color);
  font-weight: 400;
  background-color: transparent;
}

.content__title-main {
  color: var(--content-title-main-color);
  background-color: transparent;
}

.content__title-main:nth-of-type(1) {
  margin-top: var(--offset-m);
}

.content__article:nth-of-type(2),
.content__article:nth-of-type(5),
.content__article:nth-of-type(10) {
  margin-bottom: var(--offset-l);
}

.content__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--offset);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--offset);
  padding: 0 var(--offset) 40px;
}

.gallery__item {
  justify-self: center;
  width: 100%;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  block-size: 100vh;
}

.footer__title {
  text-align: center;
}

.content .content__title {
  margin-bottom: 6px;
}

@media (width >= 768px) {

  .header__description {
    justify-self: flex-end;
    margin-right: var(--offset);
    max-inline-size: calc(364 / 768 * 100%);
  }

  .header__title {
    inline-size: 100vw;
  }

  .header__recording-icon {
    top: 20px;
    right: 48px;
  }

  .header__theme-menu {
    padding-top: 192px;
  }

  .content {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content__article:nth-of-type(1) {
    margin-top: var(--offset-m)
  }

  .content__title-main:nth-of-type(1),
  .content__title-main:nth-of-type(2),
  .content__title-main:nth-of-type(3) {
    grid-column: 1;
  }

  .content__title-main:nth-of-type(1) {
    grid-row: span 2;
  }

  .content__article:nth-of-type(1),
  .content__article:nth-of-type(2) {
    grid-column: span 2;
  }

  .content__article:nth-of-type(3),
  .content__article:nth-of-type(4),
  .content__article:nth-of-type(5) {
    grid-column: 1 / 4;
  }

  .content__article:nth-of-type(6),
  .content__article:nth-of-type(7),
  .content__article:nth-of-type(8),
  .content__article:nth-of-type(9),
  .content__article:nth-of-type(10) {
    grid-column: 2 / 4;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr min-content;
    padding: 0 var(--offset) 60px;
  }

  .gallery__item {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .gallery .content__title {
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .gallery__item:nth-of-type(1) {
    grid-column: span 2;
    grid-row: 2;
  }

  .gallery__item:nth-of-type(2) {
    grid-row: 2 / 4;
  }

  .gallery__item:nth-of-type(3) {
    grid-row: span 2;
  }

  .gallery__item:nth-of-type(5) {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {

  .header {
    grid-template-rows: repeat(3, 1fr);
  }

  .header__title {
    align-self: center;
  }

  .header__description {
    align-self: center;
    margin-bottom: 86px;
    max-inline-size: calc(491 / 1024 * 100%);
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    justify-self: center;
    padding: var(--offset) 0 0 0;
  }

  .content__article:nth-of-type(3) {
    grid-column: 1;
  }

  .content__article:nth-of-type(4) {
    grid-column: 2;
  }

  .content__article:nth-of-type(5) {
    grid-column: 3;
  }
}
