/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-height: 100%;
  font-family: var(--font-family);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  block-size: max(668px, 100vh);
}

.title-decor {
  color: var(--title-color);
  font-family: inherit;
  font-weight: 700;
  font-size: var(--font-size-l);
  line-height: 0.825em;
  text-shadow: 4px 4px 0 var(--accent-color);
  block-size: fit-content;
}

.header__title {
  position: relative;
  grid-column: 1 / 3;
  grid-row: 2;
  justify-self: flex-start;
  align-self: center;
  max-inline-size: fit-content;
}

.header__recording-icon {
  position: absolute;
  top: 10px;
  right: 38px;
  display: var(--rec-display);
  color: var(--accent-color);
  font-family: inherit;
  font-weight: 400;
  font-size: var(--font-size-m);
  line-height: 1.3889em;
}

.header__recording-icon::after {
  content: '\A';
  position: absolute;
  top: 8px;
  right: -19px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.decorated-zone::after {
  content: '\A';
  position: absolute;
  top: var(--offset);
  right: var(--offset);
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--content-title-main-color);
  border-right: 1px solid var(--content-title-main-color);
}

.decorated-zone::before {
  content: '\A';
  position: absolute;
  bottom: var(--offset);
  left: var(--offset);
  display: inline-block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--content-title-main-color);
  border-left: 1px solid var(--content-title-main-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button {
  box-sizing: border-box;
  border: 1px solid transparent;
  vertical-align: middle;
  color: var(--menu-button-color);
  font-family: inherit;
  font-weight: 400;
  font-size: var(--font-size-m);
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-button-color-hover);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-button-color);
  pointer-events: none;
}

.header__theme-menu {
  grid-column: 2;
  grid-row: 1;
  justify-self: flex-end;
  align-self: center;
  max-inline-size: fit-content;
}

.text-decor {
  justify-self: center;
  color: var(--plate-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: var(--font-size-m);
  line-height: 23.4px;
  background-color: var(--accent-color);
  block-size: fit-content;
  inline-size: 100%;
}

.header__description {
  grid-column: 1 / 3;
  grid-row: 3;
  align-self: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px;
}

.content__subtitle {
  font-weight: 400;
}

.content__text {
  color: var(--text-color);
  font-weight: 400;
  background-color: transparent;
}

.content__link {
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content__link:focus-visible {
  border: 1px solid var(--text-color);
}

.content__link:hover {
  border-bottom: 1px solid;
}

.content__title-main {
  color: var(--content-title-main-color);
  background-color: transparent;
  grid-column: 1;
}

.content__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.content__section {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 20px;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: var(--offset);
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;
  gap: var(--offset);
}

.gallery__item {
  justify-self: center;
  inline-size: 100%;
}

.gallery__img {
  object-fit: cover;
  vertical-align:top;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  align-items: center;
  padding: 10px;
  block-size: max(668px, 100vh);
}

.footer__title {
  text-align: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {

  .header {
    padding: 20px;
  }

  .header__title {
    inset-inline-start: -20px;
  }

  .header__description {
    grid-column: 2;
  }

  .header__recording-icon {
    top: 20px;
    right: 48px;
  }

  .content {
    gap: 80px;
    padding: 60px 20px;
  }

  .content__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
  }

  .content__section-how .content__title-main {
    grid-row: 1 / 3;
  }

  .content__section-how .content__title {
    grid-column: 2 / 4;
  }

  .content__section-why .content__article-wide,
  .content__section-what .content__article-wide,
  .content__section-how .content__article-wide {
    grid-column: 2 / 4;
  }

  .content__section-what .content__article-full {
    grid-column: 1 / 4;
  }

  .gallery__list {
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: repeat(3, minmax(min-content, max-content));
  }

  .gallery__title {
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .gallery__item.inline-span {
    grid-column: span 2;
  }

  .gallery__item.block-span {
    grid-row: span 2;
  }
}

@media (width >= 1024px) {

  .header__title {
    align-self: center;
  }

  .title-decor {
    text-shadow: 4px 4px 0 var(--title-shadow-color);
  }

  .header__description {
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    grid-column: 1 / 3;
    justify-self: center;
    align-self: start;
  }

  .content__section {
    column-gap: 20px;
  }

  .content__section-what .content__title-main {
    grid-column: 1 / 4;
  }

  .content__section-what .content__article {
    grid-column: auto;
  }
}
